@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;900&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Inter';
}

body{
  background-color: #F66000;
}

header{
  color: white;
  text-align: center;
}

main{
  display: flex;
}

.masterDiv{
  margin-left: 4rem;
}

.h2{
  color: white;
  font-weight: lighter;
  text-align: center;
  margin-top: 1em;
}

.itensMap{
  width: 50vw;
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  justify-content: space-evenly;
  margin-left: -5em;
}

.itensDisplay{
  width: 20vw;
}

.itensImages{
  width: 15em;
}

.containerCart{
  padding-left: 8em;
}

.containerSquare{
  width: 20vw;
  height: 60vh;
  position: absolute;
  background-color:#ffffffc4;
  border-radius: 4em;
  bottom: 9em;
}

.cartSquare{
  width: 15vw;
  height: 30vh;
  position: relative;
  background-color: #a3a3a370;
  border-radius: 3em;
  top: 3em;
  left: 2em;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cartIcon{
  left: 4em;
  width: 7.5vw;
}

.cartSquare p{
  padding: 1em;
  text-align: center;
  font-size: 1em;
}

.btn-cart{
  background-color: #a3a3a370;
  width: 11vw;
  height: 7vh;
  border-radius: 2em;
  position: relative;
  left: 4em;
  top: 6em;
  display: flex;
  justify-content: space-around;
}

.plus-circle, .minus-circle {
  margin-top: 0.6em;
  width: 2vw;
  height: 4vh;
}